body {
  font-family: "Open Sans Condensed";
  padding: 20px 60px;
}

a {
  text-decoration: none; /* react-router-dom converts Link component to a tag. By default a tags are styled with underline */
  color: black;
}
